<html>
<div id = "login"  >
  <div class="align">
    <div class="container" >
        <form [formGroup]="form" (ngSubmit)="onSubmit();clearForm()" >
        <div class="row">
          <div class="col-25">
            <label style="color:blanchedalmond;">User Name</label>
          </div>
          <div class="col-75">
            <input formControlName="userName" type="text"  placeholder="Enter User Name"[ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
              <div *ngIf="f.userName.errors.required">User Name is required</div>
          </div>
        </div>
        </div>
  
        
          <div class="col-25">
            <label style="color:blanchedalmond;">Password</label>
          </div>
        <div class="col-75">
            <input formControlName="password" type="password"  placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          </div>
         <br>
       
          <div class="mb-3">
            <input  class="btn btn-success" type="submit" value="Login">
        </div>
        <div>
             <a style="text-decoration: none;color:white;" href="register">Don't have account yet?</a>
        </div>
      </form>
      <div style="color:  red;">  
           {{message}}
        </div>  
      </div>
       
    </div>
  </div>
  </html>

    
    
    